<!--<div class="flex flex-col justify-center items-center h-full">-->

<div data-scroll data-scroll-speed="3" data-scroll-delay="0.05"
     class="max-w-240 min-w-3/4 md:min-w-180 sm:max-w-80 lg:min-w-220 sm:-m-0.5 md:-m-6
             bg-card backdrop-filter backdrop-blur bg-opacity-10 shadow print:hidden
             border-solid border-4 border-black">
  <div class="my-2 mx-2">
  <h2 [@fadeInTop]="false" class="text-xl font-semibold text-center"
      data-scroll data-scroll-speed="3" data-scroll-position="top">
    Hi, I'm Mathis</h2>
  <div [@fadeInTop]="false" data-scroll data-scroll-speed="2" data-scroll-position="top"
       class="text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
    Adventure is Out There
  </div>
  <div [@fadeInTop]="false" data-scroll  data-scroll-position="top" data-scroll-speed="2" class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
    <div class="">Web Developer</div>
  </div>
  </div>
</div>
