<!-- Wrapper -->
<!--<div class="flex flex-col flex-auto w-full min-w-0">-->
<div class="flex flex-col flex-auto bg-white">
<!--  <app-background [imageURL]="imageURL" [forceReflow]="forceReflow"></app-background>-->
  <header class="sticky top-0 z-10 backdrop-filter backdrop-blur-sm bg-opacity-20 firefox:bg-opacity-70">
  <nav class="border-t">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <!-- Logo -->
            <div>
              <!-- Website Logo -->
              <a href="#" class="flex items-center py-4 px-2">
                <img src="assets/images/logo/my-logo.png" alt="Logo" class="w-28">
              </a>
            </div>
            <!-- Primary Navbar items -->
            <div class="hidden md:flex items-center space-x-1">
            </div>
          </div>
          <!-- Secondary Navbar items -->
          <div class="hidden md:flex items-center space-x-3 ">
<!--            <li>-->
<!--            <a href="#target"> test</a>-->
<!--            </li>-->

            <app-custom-button buttonTitle="Home" (click)="scrollToElem('home')"></app-custom-button>
            <app-custom-button buttonTitle="About" (click)="scrollToElem('about')"></app-custom-button>
            <app-custom-button buttonTitle="Projects" data-scroll-to (click)="scrollToElem('projects')"></app-custom-button>
            <app-custom-button buttonTitle="Contact" data-scroll-to (click)="scrollToElem('contact')"></app-custom-button>
          </div>
          <!-- Mobile menu button -->
          <div class="md:hidden flex items-center">
            <button class="outline-none mobile-menu-button"
                    (click)="showMenuMobile()">
              <svg class=" w-6 h-6 text-gray-500 hover:text-white"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
              >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- mobile menu -->
      <div *ngIf="showMenu && isScreenSmall" class="mobile-menu z-30">
        <ul class="">
          <li class="active"><a (click)="scrollToElem('home')" class="block text-sm px-2 py-4 hover:bg-white hover:bg-opacity-20 transition duration-300">Home</a></li>
          <li><a (click)="scrollToElem('about')" class="block text-sm px-2 py-4 hover:bg-white hover:bg-opacity-20 transition duration-300">About</a>
          </li>
          <li><a (click)="scrollToElem('projects')" class="block text-sm px-2 py-4 hover:bg-white hover:bg-opacity-20 transition duration-300">Skills</a></li>
          <li><a (click)="scrollToElem('contact')" class="block text-sm px-2 py-4 hover:bg-white hover:bg-opacity-20 transition duration-300">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div #scrollContent data-scroll-container>
    <router-outlet *ngIf="true"></router-outlet>
  </div>
    <!-- Footer -->
<!--      <div class="relative flex flex-0 items-center h-16 sm:h-20 px-6 sm:px-8 z-49 bg-card border-t dark:bg-default print:hidden">-->
<!--    <div-->
<!--      class="relative mt-10 flex flex-0 items-center justify-center z-49 bg-card border-t backdrop-filter backdrop-blur-lg bg-opacity-10 shadow-lg print:hidden">-->
<!--      <div class="text-center p-4">-->
<!--        © {{this.currentYear}} Mathis Vialle-->
<!--      </div>-->
<!--    </div>-->
</div>
<!-- Quick chat -->
