<div class="flex flex-col w-screen justify-center items-center">
  <div class="container my-10 mx-auto text-left text-white" [@fadeInHalf]="true">
    <article class="prose">
          <h1 class="text-9xl font-bold">About</h1>
      <div class="text-2xl">
          <p>
            Hi I am Mathis Vialle,<br>
            I am currently studying for a Master's degree in Computer Science at Epitech Paris. In 2023, I will obtain a Master's
            degree in Computer Science and Information Technology.
          </p>
          <p>
            During my program at Epitech, I had the opportunity to take on many programming challenges, which improved my
            research and problem-solving skills.
            Most of my assignments were group projects, so I also developed my communication and teamwork skills.
          </p>
          <p>
            My work experiences at Capgemini and 3DS Outscale were great opportunities to apply my knowledge and develop my
            skills in software and web development, given the different tasks I was given. I was able to discover the cloud
            computing environment, the infrastructure environment and the multiple services and constraints that a large
            international company faces.
          </p>
          <p>
            I worked with different professionals, such as web developers, internal storage teams, security teams, private
            Docker teams and management, in English and French.
          </p>
      </div>
    </article>

    <!--    <article class="prose">-->
    <!--      <h1 class="text-9xl font-bold">About</h1>-->
<!--      <p>-->
<!--        Currently studying for a Master's degree in Computer Science at Epitech Paris. In 2023, I will obtain a Master's-->
<!--        degree in Computer Science and Information Technology.-->
<!--      </p>-->
<!--      <p>-->
<!--        During my program at Epitech, I had the opportunity to take on many programming challenges, which improved my-->
<!--        research and problem-solving skills.-->
<!--        Most of my assignments were group projects, so I also developed my communication and teamwork skills.-->
<!--      </p>-->
<!--      <p>-->
<!--        My work experiences at Capgemini and 3DS Outscale were great opportunities to apply my knowledge and develop my-->
<!--        skills in software and web development, given the different tasks I was given. I was able to discover the cloud-->
<!--        computing environment, the infrastructure environment and the multiple services and constraints that a large-->
<!--        international company faces.-->
<!--      </p>-->
<!--      <p>-->
<!--        I worked with different professionals, such as web developers, internal storage teams, security teams, private-->
<!--        Docker teams and management, in English and French.-->
<!--      </p>-->
<!--    </article>-->
  </div>
</div>
<!--    <div-->
<!--      class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20 bg-clip-padding bg-opacity-60 border border-gray-200"-->
<!--      style="backdrop-filter: blur(20px);">-->
<!--&lt;!&ndash;      <div class="relative px-4 py-10 sm:rounded-3xl sm:p-20 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-30 shadow-lg">&ndash;&gt;-->
<!--        <div class="text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center"-->
<!--             [@fadeInTop]="false">-->
<!--          About-->
<!--        </div>-->
<!--        <span class="mt-3 sm:text-2xl text-center tracking-tight text-secondary text-black"-->
<!--             [@fadeInTop]="false">-->
<!--          Currently studying for a Master's degree in Computer Science at Epitech Paris. In 2023, I will obtain a Master's degree in Computer Science and Information Technology.-->
<!--          <br>-->
<!--            During my program at Epitech, I had the opportunity to take on many programming challenges, which improved my research and problem-solving skills.-->
<!--            Most of my assignments were group projects, so I also developed my communication and teamwork skills.-->
<!--          <br>-->
<!--            My work experiences at Capgemini and 3DS Outscale were great opportunities to apply my knowledge and develop my skills in software and web development, given the different tasks I was given. I was able to discover the cloud computing environment, the infrastructure environment and the multiple services and constraints that a large international company faces.-->
<!--          <br>-->
<!--            I worked with different professionals, such as web developers, internal storage teams, security teams, private Docker teams and management, in English and French.-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
