<!--<div class="flex flex-col w-screen justify-center items-center">-->
  <div class="md:container md:mx-auto my-10 text-left">
    <article data-scroll data-scroll-speed="3" class="prose mx-3 text-white">
          <h1 data-scroll data-scroll-speed="2" data-scroll-delay="0.05" class="text-8xl lg:text-9xl text-white font-bold text-center">About</h1>
      <div class="text-1xl lg:text-2xl">
          <p data-scroll
             data-scroll-direction="horizontal"
             data-scroll-speed="-1">
            Hi I am Mathis Vialle,<br>
            I am currently studying for a Master's degree in Computer Science at Epitech Paris. In 2023, I will obtain a Master's
            degree in Computer Science and Information Technology.
          </p>
          <p  data-scroll
              data-scroll-direction="horizontal"
              data-scroll-speed="1">
            During my program at Epitech, I had the opportunity to take on many programming challenges, which improved my
            research and problem-solving skills.
            Most of my assignments were group projects, so I also developed my communication and teamwork skills.
          </p>
          <p data-scroll
             data-scroll-direction="horizontal"
             data-scroll-speed="-1">
            My work experiences at Capgemini and 3DS Outscale were great opportunities to apply my knowledge and develop my
            skills in software and web development, given the different tasks I was given. I was able to discover the cloud
            computing environment, the infrastructure environment and the multiple services and constraints that a large
            international company faces.
          </p>
          <p data-scroll
             data-scroll-direction="horizontal"
             data-scroll-speed="1">
            I worked with different professionals, such as web developers, internal storage teams, security teams, private
            Docker teams and management, in English and French.
          </p>
      </div>
    </article>
  </div>
<!--</div>-->
